.register {
    height: 100vh;
    background-color: #c1beff;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        min-height: 600px;
        overflow: hidden;
        .left {
            flex: 1;
            background: linear-gradient(rgb(222, 130, 130, 0.5), rgb(252, 252, 252, 0.5)), url("https://images.pexels.com/photos/697244/pexels-photo-697244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            h1 {
                font-size: 80px;
                line-height: 70px;
                margin: 0;
            }
            span {
                font-size: 14px;
            }
            button {
                width: 50%;
                border: none;
                cursor: pointer;
                padding: 10px;
                font-weight: bold;
                color: brown;
            }
        }

        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            h1 {
                margin: 0;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 10px;
                }
                button {
                    width: 50%;
                    padding: 10px;
                    background-color: #c1beff;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}